{
  "instrumenter_call": "../../../pin/access_logger/instrument_sudo.sh",
  "instrumenter_outfile": "msc_test.out",
  "chroot_template": "/var/chroot/zesty_templ",
  "tmp_chroot_folder": "/media/ramdisk/chroot/",
  "folder_with_flips": "/media/ramdisk/flips/",
  "num_of_parallel_checks": 4,
  "CR_exec_file": "../run_sudo_chroot.sh",
  "CR_flip_folder": "/media/flips",
  "CR_success_folder": "/media/success/",
  "CR_log_file": "/tmp/succ.file"
}
